html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  overflow-anchor: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  z-index: 1;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}
header .header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_inner .logo {
  margin-top: 10px;
  width: 101px;
  height: 73px;
  background: no-repeat url(../img/logo.svg);
}
header .header_inner .menu {
  margin: 7px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_inner .menu .header_menu {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_inner .menu .header_menu .header_menu-item {
  padding-left: 60px;
}
header .header_inner .menu .header_menu .header_menu-item:first-of-type {
  padding-left: 0px;
}
header .header_inner .menu .header_menu .header_menu-item a div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #4D4D4D;
}

.cart {
  margin: -5px 0px 0px 40px;
  position: relative;
  padding: 40px 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cart.active:hover {
  background-color: rgba(93, 113, 221, 0.1);
  cursor: pointer;
}
.cart .cart_text {
  margin: -2px 0px 0px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #4D4D4D;
}
.cart .cart_quantity {
  display: none;
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -10px;
  min-height: 6px;
  min-width: 6px;
  background-color: #EC7070;
  border-radius: 50%;
}
.cart .cart_quantity.active {
  display: block;
}
.cart .cart-content {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  position: relative;
  cursor: default;
  z-index: 4;
  position: absolute;
  right: 0;
  top: 100%;
  width: 490px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}
.cart .cart-content .cart-content_list {
  max-height: 330px;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  display: block;
  z-index: 3;
}
.cart .cart-content .cart-content_item {
  max-height: 120px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 10px 20px;
}
.cart .cart-content .cart-content_item:not(:first-of-type) {
  margin-top: 25px;
}
.cart .cart-content .cart-content_item:hover {
  background-color: rgba(93, 113, 221, 0.1);
}
.cart .cart-content .cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .cart-content .cart-product_img {
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart .cart-content .cart-product_text {
  margin: -10px 0px 0px 20px;
}
.cart .cart-content .cart-product_title {
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  max-width: 268px;
}
.cart .cart-content .cart-product_price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
}
.cart .cart-content .cart-product_delete {
  cursor: pointer;
  background: url("../img/trash.svg");
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 42px;
}
.cart .cart-content .cart-content_bottom {
  background: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #EAEAEA;
  z-index: 5;
  width: 100%;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}
.cart .cart-content .cart-content_bottom .cart-content_fullprice {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
}
.cart .cart-content .cart-content_bottom .cart-content_fullprice .fullprice {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
  display: block;
}
.cart .cart-content .cart-content_bottom .cart-content__btn {
  cursor: pointer;
  width: 246px;
  height: 45px;
  background-color: #EC7070;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.cart .cart-content .cart-content_bottom .cart-content__btn:hover {
  background-color: #c44a4a;
}
.cart .cart-content .cart-content_bottom .cart-content__btn:active {
  margin-top: 4px;
  background-color: #c44a4a;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.main {
  margin-top: 90px;
}
.main .container .main_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .container .main_inner .filters {
  margin-left: 55px;
  width: 286px;
}
.main .container .main_inner .filters .price_filter .filter_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4D4D4D;
}
.main .container .main_inner .filters .price_filter .range {
  margin-top: 20px;
  max-width: 286px;
  height: 22px;
  border-radius: 11px;
  background-color: white;
}
.main .container .main_inner .filters .price_filter .range__button_1,
.main .container .main_inner .filters .price_filter .range__button_2 {
  position: absolute;
  top: 242px;
  width: 22px;
  height: 22px;
  cursor: move;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 3px solid #EC7070;
  border-radius: 50%;
  background-color: white;
  z-index: 5;
}
.main .container .main_inner .filters .price_filter .range__between {
  position: absolute;
  z-index: 4;
  height: 2px;
  width: 100%;
  margin-top: 10px;
  border: none;
  background-color: #EC7070;
}
.main .container .main_inner .filters .price_filter .range__between2 {
  position: absolute;
  z-index: 3;
  height: 2px;
  width: 270px;
  margin: 10px 0px 0px 5px;
  border: none;
  background-color: #ddd;
}
.main .container .main_inner .filters .price_filter .range_inpt1, .main .container .main_inner .filters .price_filter .range_inpt2 {
  width: 133px;
  height: 40px;
  border: 1px solid #D9D9D9;
  margin-top: 40px;
  border-radius: 4px;
  color: #4D4D4D;
  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #4D4D4D;
}
.main .container .main_inner .filters .price_filter .range_inpt2 {
  margin-left: 15px;
}

.items_holder {
  max-width: 900px;
}

.item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px 0px -30px;
}
.item_row:first-of-type {
  margin-top: 0px;
}

.item {
  width: 286px;
  height: 415px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  margin-left: 20px;
  padding: 0px 20px 0px 20px;
}
.item .item_title {
  padding-top: 32px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
}
.item .item_rate {
  margin: 10px 0px 0px 0px;
  max-width: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item .item_rate .item_reviews {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #EC7070;
}
.item .item_rate .reviews_number {
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}
.item .article_number {
  margin-top: 13px;
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.item .items_amount {
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.item .item_cost {
  margin-top: 14px;
  max-width: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item .item_cost .cost {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4D4D4D;
}
.item .item_cost .sale {
  margin-top: 6px;
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #808080;
}
.item .add_to_shopping_cart {
  cursor: pointer;
  margin-top: 19px;
  width: 246px;
  height: 45px;
  background-color: #EC7070;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: Noto Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.item .add_to_shopping_cart:hover {
  background-color: #c44a4a;
}
.item .add_to_shopping_cart:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.item .slider {
  max-width: 162px;
  max-height: 162px;
  margin: 41px 0px 0px 42px;
}
.item .slider .slider_item img {
  -o-object-fit: fill;
     object-fit: fill;
}

.simplebar-track.simplebar-vertical {
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  height: calc(100% - 40px);
  right: 5px;
}

.simplebar-scrollbar::before {
  width: 100%;
  background: rgba(77, 77, 77, 0.2);
  border-radius: 5px;
  opacity: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}